* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: -0.5px;
}

p {
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  .illustration {
    width: 140px;
    height: 140px;
  }

  .mail-issue {
    font-size: 0.5rem;
  }
}

.issue {
  padding-top: 50px;
}
.mail-issue {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.mail-issue:hover {
  text-decoration: underline;
}
